{% extends "base.html" %}

{% load static %}

{% block title %}{{categoria.nombre}}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/category.css' %}" />
{% endblock %}

{% block content %}
<h1><a href="/categorias">Categorías > </a> {{categoria.nombre}}</h1>
<div class="grid-productos">
{% for producto in productos %}
    <div class="ficha-producto">
        <a href="/{{producto.fabricante.slug}}/{{producto.slug}}"> 
            <div class="imagen-producto" style="background-image: url('{{producto.imagen.url}}');"></div>
            <div class="info-wrapper">
                <span class="nombre-producto"><b>{{producto.fabricante.nombre}} {{producto.nombre}}</b></span>
                <span class="precio-producto">{{producto.precio}} €</span>
            </div>
        </a>
    </div>
{% endfor %}
</div>
{% endblock %}
